  
   body::-webkit-scrollbar {
   
    width: 0.7em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

 
body::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid slategrey;
}


  *
  {
  
  text-align:justify;
  text-transform:capitalize;
  }
  
  body
  {
 
   
  background-color:#F9F9F9;
  }
  #doon
{
float:right;
right:3px;
position:absolute;
}
#masthead { 
 min-height:250px;


 background-color:#23343F;
}
#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}
#masthead .well {
 margin-top:8%;
}
@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}
-0---code or scroll bar--->
body::-webkit-scrollbar {
    width: 0.3em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#ishaan
{
padding: 3em 0 3em 0;
		
		background-size: cover;
		background-position: bottom;
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: center;
		position: relative;
		margin-bottom:0px;	
}
.navbar
{
background-color:white; 	;
}
#owe:hover
{
background-color:#23343F;
COLOR:WHITE;
border-radius:20px;
}
#qw
{

margin-left:0px;
}
@media only screen and ( max-width:768px ) 
{
#qw
{
position:static;
margin-left:0px;
}

}


#botton
{
padding-bottom:20px;

}
#man
{
border-radius:7px;

box-shadow:0px 0px 25px #C0CBE5;
 text-transform: lowercase;
}
#man:hover
{
border-left:3px groove white;
border-top:3px groove white;
box-shadow:7px 7px 3px #C0CBE5;
}
#last
{
background-color:black;
}
#med
{
color:grey;
margin:1%;
padding:1%;

}
#ee
{

word-spacing:2px;
text-align:justify;
}
#you
{
width="560" height="315"

}
@media screen and (min-width: 768px) {

#you
{
width="360" height="115"

}

}

